.banner{
  background-image: linear-gradient(-225deg, rgba(0,0,0,.8), rgba(0,0,0,0) 92%), url("../../images/background.jpg");
  color: white;
  padding: 150px 0px;
  background-position: center;
  background-size: cover;
}

.banner h1 {
  color: white;
  font-size: 55px;
  margin: 0px;
  font-weight: bold;
  margin-bottom: 40px
}

.banner p {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 40px
}
